.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.card-footer {
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: auto;
    color: var(--primary-1);
}