.section-title {
    display: flex;
    flex-direction: column;
    grid-column: 3 / span 4;
    grid-row: 1;
}

.title {
    margin: 0;
    font: var(--display-title);
    color: var(--primary-2);
}

.subtitle {
    margin: 0;
    margin-top: -20px;
    font: var(--subtitle);
    color: var(--highlight-1);
}
