.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-2);
    font: var(--section-title);
    color: var(--highlight-2);
    text-decoration: none;
    text-transform: uppercase;
    height: 48px;
    border-radius: 16px;
}

.button:hover {
    background-color: var(--secondary-1);
}

.button:active {
    background-color: var(--primary-1);
    color: var(--highlight-1);
}