.header {
    position: sticky;
    z-index: 99;
    top: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: '. . logo logo navBar navBar navBar navBar navBar navBar . .';
    padding-left: 70px;
    padding-right: 70px;
    column-gap: 20px;
    min-height: 100px;
    height: fit-content ;
    align-content: center;
    align-items: center;
    background-color: white;
}

#burger {
    display: none;
    grid-area: burger;
    color: var(--primary-1);
    cursor: pointer;
}

.logo {
    grid-area: logo;
    margin: 10px;
}

.logo img {
    height: 53px;
}

@media only screen and (max-width: 1124px) {
    .header {
        grid-template-areas: '. logo logo logo navBar navBar navBar navBar navBar navBar navBar .';
    }
}

@media only screen and (max-width: 960px) {
    .header {
        grid-template-areas: 'logo logo logo navBar navBar navBar navBar navBar navBar navBar navBar navBar';
    }
}

@media only screen and (max-width: 768px) {

    #burger {
        display: inline-block;
    }

    .header {
        grid-template-areas: 'burger logo logo logo logo logo logo logo logo logo logo logo'
        'navBar navBar navBar navBar navBar navBar navBar navBar navBar navBar navBar navBar';
    }
}

@media only screen and (max-width: 650px) {
    .header {
        padding-left: 5px;
        padding-right: 5px;
    }
}