@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text&display=swap');

:root {
  --primary-1: #495E57;
  --primary-2: #F4CE14;
  --secondary-1: #EE9972;
  --secondary-2: #FBDABB;
  --highlight-1: #EDEFEE;
  --highlight-2: #333333;
  --display-title: normal normal 500 64px 'Markazi Text', serif;
  --subtitle: normal normal 400 40px 'Markazi Text', serif;
  --card-title: normal normal 700 18px 'Karla', sans-serif;
  --paragraph-text: normal normal 400 16px 'Karla', sans-serif;
  --section-title: normal normal 800 20px 'Karla', sans-serif;
  --highlight-text: normal normal 500 16px 'Karla', sans-serif;
}

* {
  box-sizing: border-box;
}